<div role="button" class="ember-tabella__header-column__title" {{action "sort"}}>
  {{this.column.headerCellName}}

  {{#if this.isSortable}}
    <EmberTabella::HeaderSortIndicator @sort={{this.sortDirection}} />
  {{/if}}
</div>

{{#if column.isResizable}}
  <EmberTabella::HeaderResizeHandle @onResize={{action "resize"}} />
{{/if}}
