html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
}

@import 'ember-tabella';
.ember-tabella__header-resize-handle {
  border-left: 3px dotted #ccc;
  background: #fff;
}

.ember-tabella__header {
  border-bottom: 1px solid #ccc;
}

.example-container {
  width: 600px;
}
