{{#if hasHeader}}
  <div class="ember-tabella__header">
    {{ember-tabella/header-row
      columns=_columns
      height=headerHeight
      width=headerRowWith
      scrollLeft=scrollLeft
      sortedColumn=sortedColumn
      isSortReversed=isSortReversed
      onColumnSort=onColumnSort
    }}
  </div>
{{/if}}

{{ember-tabella/body
  content=content
  columns=_columns
  height=bodyHeight
  width=rowWidth
  rowWidth=rowWidth
  rowHeight=rowHeight
  scrollLeft=scrollLeft
  scrollTop=scrollTop
  onScroll=(action "updateScrollPosition")
  onColumnSort=onColumnSort
  onCellClick=onCellClick
}}
