<div class="col-md-10 col-md-offset-2">
  <h1>Ember Tabella <small>Simple</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container" style="width:600px;">
        {{ember-tabella
          numFixedColumns=2
          width=500
          height=500
          rowHeight=50
          content=tableContent
          columns=tableColumns
          hasFooter=false
          sortProperties=sortProperties
          isSortReversed=isSortReversed
          on-sort=(action "sort")
        }}
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
    </div>
  </div>
</div>